* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #08090c;
    color: #f4f4f4;
    font-family: Arial, sans-serif;
}

button,
input,
select {
    font: inherit;
}

button {
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 12px;
    margin-top: 8px;
    background: #d6283d;
    color: white;
    font-weight: 800;
}

button.green {
    background: #168653;
}

button.gray {
    background: #292e35;
}

button.blue {
    background: #23639c;
}

.hidden {
    display: none;
}

.top {
    text-align: center;
    padding: 18px 15px 8px;
}

.logo {
    font-size: 22px;
    font-weight: 900;
}

.edition {
    color: #888;
    font-size: 10px;
    letter-spacing: 3px;
}

main {
    max-width: 720px;
    margin: auto;
    padding: 12px 12px 100px;
}

.card {
    background: #13161b;
    border: 1px solid #292e36;
    border-radius: 15px;
    padding: 14px;
    margin-bottom: 11px;
}

.title {
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 10px;
}

.statline {
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
    border-bottom: 1px solid #282d34;
    font-size: 13px;
}

input,
select {
    width: 100%;
    background: #080a0d;
    color: white;
    border: 1px solid #414750;
    padding: 13px;
    border-radius: 9px;
    margin-top: 8px;
}

.tabs {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;

    background: #111419;

    border-top: 1px solid #30343b;

    display: grid;
    grid-template-columns: repeat(6, 1fr);

    padding: 5px;
}

.tabs button {
    background: transparent;
    margin: 0;
    padding: 7px 2px;
    font-size: 18px;
}

.tabs small {
    display: block;
    color: #888;
    font-size: 8px;
}
